    img{
        width: 0.93em;
    }

@media screen and (min-width: 412px){
    header{
        font-size: 1.5em;
        text-align: center;
    }
    body{
        height: 100%;
        background-image: linear-gradient(white, purple);
        background-repeat: no-repeat;
        background-attachment:  fixed;
        zoom: relative;
        display:flex;
        flex-direction:column;
        
    }
        #ProfessionalStatement, #Education, #WorkExp, #Projects, #Skills{
        background-image: linear-gradient(pink, white);
        background-repeat: no-repeat;
        font-family: 'Times New Roman', Times, serif;
        border-style: solid;
        border-color: black;
        padding: 1em;
        margin: 1em;
        
    }
}

@media screen and (min-width: 1920px){
    header{
        font-size: 1.5em;
        text-align: left;
        padding: 1em;
    }
    body{
        background-image: linear-gradient(lightblue, green);
         background-repeat: no-repeat;
         height: 100%;
        
    }
        #ProfessionalStatement, #Education, #WorkExp, #Projects, #Skills{
        background-image: linear-gradient(white, pink);
       
        font-family: 'Times New Roman', Times, serif;
        border-style: solid;
        border-color: black;
        padding: 1em;
        margin: 1em;
        }

}